.logo {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  border: .3rem solid;
  padding: .5rem;
  border-radius: 1rem;
  font-style: italic;
}

.logo:hover {
  color: #f3d9d9;
  border-color: #f3d9d9;
}