.wrapper {
  max-width: 140rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  >* {
    flex-basis: 55%;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 40rem;
}

.title {
  font-size: 3.6rem;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

.item {
  font-size: 2rem;
  margin-top: 0.8rem;
  color: #cdcbcb;

  >span {
    color: #fff;
    margin-top: 0.3rem;

  }
}

.like,
.share {
  margin: 1.5rem;
  cursor: pointer;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: 0.1rem solid #383737;
  border-radius: 0.5rem;
  text-decoration: none;

}

.like:hover,
.share:hover {
  box-shadow: 0 0 0.7rem 0.2rem #fff;
}

.loading,
.error {
  font-size: 3rem;
}