.wrapper {
  max-width: 140rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  >* {
    flex-basis: 55%;
  }
}

.img {
  max-width: 40rem;
}

.title {
  font-size: 3.6rem;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

.item {
  font-size: 2rem;
  margin-top: 0.8rem;
  color: #cdcbcb;

  >span {
    color: #fff;
    margin-top: 0.3rem;

  }
}

.like{
  margin: 1.5rem;
  font-size: 1.6rem;
}

