.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 15vh;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  border-bottom: 0.1rem solid transparent;
}

.link:hover{
  transform: scale(1.03);
  color: #f3d9d9;;
}