.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}

.user:hover {
  color: #f3d9d9;
  ;
}

.username {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.img {
  width: 5rem;
  height: 5rem;
  border: .3rem solid #fff;
  border-radius: 50%;
  background-image: url('../../../../public/user.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
}

.sign_btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  >a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid transparent;

  }

  >a:hover {
    border-color: #fff;
    box-shadow: 0rem 0.4rem 0.5rem -0.2em #fff;
  }
}