.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.title {
  font-size: 5rem;
}
.text {
  font-size: 2.8rem;
}

.img {
  background-image: url('../../../../public/error/notfound.jpg');
  width: 35rem;
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}