.menu {
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 9999;
}

.list {
  background-color: #000;
  list-style: none;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
}

.item {
  margin-top: 0.4rem;
  text-align: right;

  >* {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    border-bottom: 0.1rem solid transparent;
  }
}

.tel {
  margin-top: 0.4rem;
  text-align: right;

  >* {
    margin-bottom: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 0.1rem solid transparent;
  }
}

.item:hover {
  >* {
    border-color: #fff;
    box-shadow: 0rem 0.4rem 0.5rem -0.2em #fff;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 29px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked+.slider {
  background-color: #de7358;
}

input:focus+.slider {
  box-shadow: 0 0 1px #de7358;
}

input:checked+.slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.slider.round {
  border-radius: 29px;
}

.slider.round:before {
  border-radius: 50%;
}