.menu {
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 9999;
}

.list {
  background-color: #000;
  list-style: none;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
}

.item {
  margin-top: 0.4rem;
  text-align: right;

  >* {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    border-bottom: 0.1rem solid transparent;
  }
}

.tel {
  margin-top: 0.4rem;
  text-align: right;

  >* {
    margin-bottom: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 0.1rem solid transparent;
  }
}

.item:hover {
  >* {
    border-color: #fff;
    box-shadow: 0rem 0.4rem 0.5rem -0.2em #fff;
  }
}

